@import 'variables.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #fff;
  &_midnight-blue {
    background: #242F3E;
  }
  &__title {
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
  }
  &__h2 {
    font-size: 1.5rem;
  }
  &__button-container {
    display: flex;
    margin-right: auto;
    margin-top: 1rem;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 35px;
    margin: 0 1rem;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #DDEAF3;
    outline: none;
  }
  &__check-mark {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 20%;
      left: 35%;
      transform: translate(-20%, -35%);
      width: 4px;
      height: 8px;
      border: 1px solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
  &__switch-mode {
    margin-top: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: $blue;
  }
}
