@import 'variables.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #fff;
  &_midnight-blue {
    background: #242F3E;
  }
  &__title {
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
  }
  &__h2 {
    font-size: 1.5rem;
  }
  &__switch-mode {
    margin-top: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: $blue;
  }
}
